<h3>{{title}}</h3>
<div class="row"></div>

<div class="col-md-12 hotel-item row" *ngFor="let hotel of hoteles">
    <div class="img-hotel-container col-md-4"><img src="{{api_url}}image/{{hotel.image}}"></div>
    <div class="info-hotel-container col-md-8">
        <p>{{hotel.name}}</p>
        <div class="stars-container">
            <img src="../../../assets/star.svg">
            <img src="../../../assets/star.svg">
            <img src="../../../assets/star.svg">
        </div>
    </div>
</div>