<h3>{{title}}</h3>
<div class="row"></div>
<!-- <div *ngFor="let hotel of hoteles" class="col-md-12 hotel-item">
    <p>{{hotel.name}}</p>
    <img src="{{api_url + hotel.image}} ">
</div> -->
<div class="col-md-12 hotel-item row">
    <div class="img-hotel-container col-md-4"><img src="../../../assets/00650d24_b.jpg"></div>
    <div class="info-hotel-container col-md-8">
        <p>Nombre Hotel</p>
        <div class="stars-container">
            <img src="../../../assets/star.svg">
            <img src="../../../assets/star.svg">
            <img src="../../../assets/star.svg">
        </div>
    </div>
</div>